 @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
 @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
.store-background {
	background: white;
	background-image: url('../img/background-patterns.svg');
}

.brown {
	color: #996633;
}

.blue-background {
	background: #f0f0f5;
}

.blue {
	color: #666699;
}
/* 	.green-background{ */
/* 		background: #daffda; */
/* 	} */
/* 	.green{ */
/* 		color: #009933; */
/* 	} */
.radius {
	border-width: 3px;
	border-color: white;
}

.radius:hover {
	background-color: white;
	color: black;
}
/*
*/
.active >ul> div{
	text-align: right;
	background-color: silver;
}
.active >ul> div> a{
	color: black;
}

/**
Div 로 Table을 구성하기 위한 생성자
*/
.divTable {
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell .divTableHead {
	width: 50%;
	border-bottom: 5px solid white;
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

/*
storeList 출력을 위한 css
*/
.store-list{
	display: inline-block;
	width: auto;
}
.store-list-image{
	width: 100%;
}
.store-list-name{
	background-color: white;
	text-align: center;
	font-size: 15px;
}
.hover-img-effect{
	width: 150px;
    height: auto;
    margin: auto;
}
/*
store출력을 위한 css
*/
.storeListView{
	margin: auto;
	text-align: center;
}
.store-div{
	height: 100%;
	background-size: cover;
	margin: auto;
	pading: 0;
	display: table-cell;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
  	background-color: rgba(0, 0, 0, 0.3);
}
.store-info{
	
}
.rating_list{
	height: 70%;
	overflow: auto;
}
.rating_list_column{
	margin-bottom: 5px;
}
.store-name{
	font-size: 35px;
	border-bottom: 5px solid white;
}
.rating_element{
	
}
.rating_name{
	display: inline-block;
	width: 50%;
}
.rating_star{
	display: inline-block;
	width: 50%;
}
.rating_email{
	background-color: #ffffffaa;
	color: black;
	display: inline-table;
	border-bottom: 3px solid white;
	float:left;
	width: 30%;
}
.rating_time{
	background-color: #ffffffaa;
	color: black;
	display: inline-block;
	border-bottom: 3px solid white;
	float:left;
	width: 70%;
}
.rating_rat_comment{
	border: 1px solid white;
}
.store_icon{
}

.store_icon > img{
	float: right;
	margin-top: 15px;
	width: 35px;
	height: 35px;
}
.store_icon > img:hover{
	background-color: #ffffffaa;
}
.left > img{
	float: left;
}
/*google map 크기*/
.map {
	margin: auto;
	height: 500px;
	width: 80%;
}
/*메뉴 리스트를 정리하기 위한 css*/
.menu_list{
	width: 100%;
	height: 600px;
	overflow: auto;
}
.menu_list> div{
	display:inline-table;
	width: 30%;
	margin: 1%;
}
@media screen and (min-width: 768px){
	.menu_list> div{
		display:inline-table;
		width: 20%;
		margin-right:18% !important;
		margin: 1%;
	}
	.menu_list> div:nth-child(3n+1){
		width: 20%;
		margin-left: 18% !important;
		margin-right:0% !important;
		margin: 1%;
	}
	.menu_list> div:nth-child(3n+2){
		margin-right:0% !important;
		width: 20%;
		margin: 1%;
	}
}
.price> span{
	float: left;
	width: 40%;
}
.price> .HOT{
	color: red;
}
.price> .ICE{
	color: blue;
}
.product-icon > img {
	float: right;
	width: 25px;
	height: 25px;
}
.product-icon > img:hover{
	background-color: #ffffffaa;
}
.cancel-icon > img {
	margin: 4px;
	float: right;
	width: 12px;
	height: 12px;
}
/*
스토어 간단한 소개
*/
/* .store-content> a > img {
	width: 80%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 10%;
	margin-left: 10%;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 768px){
	.store-content> a > img {
		width: 50%;
		margin-right: 25%;
		margin-left: 25%;
	}
} */

.store-content{
	font-family: 'Hanna', serif !important;
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	border: 5px solid #66669922;
}
/*
이미지 효과를 위한 css
*/
/*이미지 블러처리*/
.bg-gray {
	background-color: #00000033;
}


/*rating 구현*/
.star-rating {
 	line-height:32px;
  	font-size:1.25em;
}
.fa-star {
	color:yellow !important;
}

/*Main View 구현*/
.main-title {
	text-shadow: 0 0 8px #000;
	-moz-text-shadow: 0 0 8px #000;
	-webkit-text-shadow: 0 0 8px #000;
	color: white;
}

.carousel-inner img {
	width: 100%;
}

/*커서 효과*/
.cursor {
	cursor: pointer;
}


/*정태준 CSS 243Line*/
.store-content> a > img {
	width: 80%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 10%;
	margin-left: 10%;
    border-radius: 4px;
    box-shadow: 10px 10px 40px 5px #888888;
}
@media screen and (min-width: 768px){
	.store-content> a > img {
		width: 50%;
		margin-right: 25%;
		margin-left: 25%;
	}
}
/*새로 생성한 HTML CSS*/
.detail-background {
    background: gray; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #f2f2f2, #d9d9d9, #bfbfbf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f2f2, #d9d9d9, #bfbfbf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f2f2, #d9d9d9, #bfbfbf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f2f2, #d9d9d9, #bfbfbf); /* Standard syntax (must be last) */
}
.tel-color{
	color:#add8ff;
}
.footer-title{
	color:#d86d6d;
}
.footer-background{
	background-color: #363636;
}
.footer-font-white{
	color:white;
}