<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author 정태준, 양현모 -->
<mapper namespace="managerMapper">
	<resultMap type="manager" id="managerMap">
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="tel" property="tel" />
		<result column="birth" property="birth" />
		<result column="lan_code" property="lanCode" />
		<result column="id" property="id" />
		<result column="img_dir" property="imgDir" />
		<result column="major" property="major" />
	</resultMap>

	<resultMap type="managerstorejoin" id="managerstoreSelectmap">
		<result column="email" property="email" />
		<result column="name" property="name" />
		<result column="tel" property="tel" />
		<result column="s.name" property="sName" />
		<result column="s.addr" property="sAddr" />
		<result column="s.tel" property="sTel" />
	</resultMap>

	<!-- 운영자 전체 조회 -->
	<select id="selectManagerAll" resultMap="managerMap">
		SELECT email, name, birth, tel, lan_code, id, img_dir, major
		FROM manager
	</select>

	<!-- 운영자 -> 관리자 검색[Id(email),사장이름(name),가게번호(id)] (추후 수정) -->
	<select id="selectManagerById" parameterType="List" resultMap="managerMap">
		SELECT email, name, birth, lan_code, id, img_dir, major
		FROM manager
		WHERE email LIKE '%'||#{email}||'%' or
		name LIKE '%'||#{name}||'%' or
		id LIKE '%'||#{id}||'%'
	</select>

	<!-- JOIN문을 통한 가게이름 검색 (추후 수정) -->
	<!-- <select id="selectManagerById2" parameterType="HashMap" resultMap="managerStoreMap"> -->
	<!-- SELECT m.email as email, m.name as name, m.birth as birth, m.lan_code 
		as lan_code, m.img_dir as img_dir, m.major as major -->
	<!-- s.id as id, s.name as store_name, s.addr as store_addr, s.tel as store_tel, 
		s.store_hours as store_store_hours -->
	<!-- FROM manager m, store s. -->
	<!-- WHERE m.id=s.id and m.email LIKE '%'||#{email}||'%' or m.name LIKE 
		'%'||#{name}||'%' or s.name LIKE '%'||#{store.name}||'%' or s.addr LIKE '%'||#{store.addr}||'%' -->
	<!-- </select> -->

	<!-- 관리자 상세 조회를 위한 SELECT JOIN문 -->
	<select id="selectOneManagerDetail" parameterType="java.util.HashMap" resultMap="managerstoreSelectmap">
		SELECT m.email as email, m.name as name, m.tel as tel, m.lan_Code as lan_Code, s.name as sName, s.addr as sAddr, s.tel as sTel
		FROM manager m, store s
		WHERE m.id=s.id AND m.email=#{email} AND m.lan_Code=2 AND m.lan_Code=s.lan_Code
	</select>

	<select id="selectOneManagerByEmail" parameterType="String" resultType="String">
		SELECT password
		FROM manager
		WHERE email=#{email}
	</select>


	<!-- 운영자 계정 생성 -->
	<insert id="insertManager" parameterType="manager">
		INSERT INTO manager
		VALUES(#{email}, #{password}, #{name}, #{tel}, #{birth}, #{lanCode}, #{id}, #{imgDir},
		#{major})
	</insert>


	<!-- 운영자 계정 수정 -->
	<update id="updateManager" parameterType="java.util.HashMap">
		UPDATE manager
		SET tel=#{tel}
		WHERE email=#{email}
	</update>


	<!-- 운영자 계정 삭제 -->
	<delete id="deleteManager" parameterType="string">
		DELETE FROM manager
		WHERE email=#{email}
	</delete>
	
	<!-- 운영자가 자신의 비밀번호를 수정 -->
	<update id="updatePassword" parameterType="java.util.HashMap">
		UPDATE manager
		SET password=#{password}
		WHERE email = #{email}
	</update>
	
	<!-- 관리자&운영자  -->
	<select id="selectManagerByEmail" parameterType="String" resultMap="managerMap">
		SELECT email,password,name,tel,birth,lan_code,id,img_dir,major
		FROM manager
		WHERE email=#{email}
	</select>
	
	<select id="selectManagerOneByEmail" parameterType="String" resultMap="managerMap">
		SELECT email, name, birth, tel, lan_code, id, img_dir, major
		FROM manager
		WHERE email=#{email}
	</select>

	<select id="selectManagerByMajor" parameterType="String" resultType="int">
		SELECT major
		FROM manager
		WHERE email=#{email}
	</select>

</mapper>	