<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
		<!-- @author 정태준 -->
	<resultMap type="member" id="memberMap">
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="birth" property="birth"/>
		<result column="nation_code" property="nationCode"/>
		<result column="lan_code" property="lanCode"/>
		<result column="join_date" property="joinDate"/>
		<result column="last_date" property="lastDate"/>
		<result column="img_dir" property="imgDir"/>
		<result column="access_code" property="accessCode"/>
	</resultMap>
	
	<!-- select : 관리자&운영자, search : User -->
	<select id="selectMemberAll" resultMap="memberMap">
		SELECT email, name, gender, birth, nation_code, lan_code, join_date, last_date, img_dir, access_code
		FROM member
	</select>	

	<select id="selectMemberByEmail" parameterType="String" resultMap="memberMap">
		SELECT email, password, name, tel, gender, birth, nation_code, lan_code, join_date, last_date, img_dir, access_code
		FROM member
		WHERE email LIKE #{email}
	</select>
	
	<!-- User가 User 정보 검색 -->
	<select id="searchMemberByEmail" resultMap="memberMap">
		SELECT email, name, gender, birth, nation_code, lan_code, join_date, last_date, img_dir
		FROM member
		WHERE email LIKE #{email}||'%'
	</select>

	<!-- 회원 가입 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO member
		VALUES(#{email}, #{password}, #{name}, #{tel}, #{gender}, #{birth}, #{nationCode}, #{lanCode}, systimestamp, systimestamp, 1234, 1234)
	</insert>
	<!-- (#{email},#{password},#{name},#{tel},#{gender},#{birth},#{nationCode},#{lanCode},sysdate,sysdate,#{imgDir},#{accessCode}) -->
	
	<!-- 회원 탈퇴(관리자) -->
	<delete id="deleteMemberByManager" parameterType="String">
		DELETE FROM member
		WHERE email = #{email}
	</delete>
	
	<!-- 회원의 비밀번호 찾기(자발적 탈퇴 & 정보수정) -->
	<select id="selectMemberByPassword" parameterType="String" resultType="java.lang.String">
		SELECT password FROM member
		WHERE email = #{email}
	</select>
	
	<!-- 회원 탈퇴(사용자 자발적 탈퇴) -->
	<delete id="deleteMember" parameterType="string">
		DELETE FROM member
		WHERE email = #{email}
	</delete>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="member">
		UPDATE member
		SET password = #{password}, nation_code = #{nationCode}, lan_code = #{lanCode}, name = #{name}, tel = #{tel}, gender = #{gender}, img_dir = #{imgDir}
		WHERE email = #{email}
	</update>
	
	<!-- LastDate 로그인시 현재 시간으로 변경 -->
	<update id="updateMemberByLastDate" parameterType="String">
		UPDATE member
		SET last_date = systimestamp
		WHERE email = #{email}
	</update>
	
	<!-- 승인 시 AccessCode 변경 -->
	<update id="updateMemberByAccessCode" parameterType="member">
		UPDATE member
		SET access_code = '0'
		WHERE email = #{email}
	</update>
	

	
</mapper>	