<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">

	<!-- @author 신승엽 -->
	
	<resultMap type="product" id="productSelectMap">
		<result column="lan_code" property="lanCode"/>
		<result column="id" property="id"/>
		<result column="code" property="code"/>
		<result column="product" property="product"/>
		<result column="oz" property="oz"/>
		<result column="hot_price" property="hotPrice"/>
		<result column="ice_price" property="icePrice"/>
	</resultMap>

	<sql id="productColum">
		lan_code, id, code, product, oz, hot_price, ice_price 
	</sql>
	
	<select id="selectProduct" resultMap="productSelectMap">
		SELECT <include refid="productColum"/>
		FROM product
	</select>
	
	<select id="selectProductById" resultMap="productSelectMap" parameterType="java.util.HashMap">
		SELECT <include refid="productColum"/>
		FROM product WHERE id = #{id} and lan_code = #{lanCode}
	</select>
	
	<select id="selectProductByName" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT p.id as id, p.code as code, p.product as product, p.oz as oz, p.hot_price as hotprice, p.ice_price as iceprice, s.name as name
		FROM product p JOIN store s on p.id = s.id
		WHERE p.product LIKE '%'||#{product}||'%' AND p.lan_code = #{lanCode} AND s.lan_code = #{lanCode}
	</select>
	
	<insert id="insertProduct" parameterType="product">
		INSERT INTO product(
			<include refid="productColum" />
		)
		VALUES(#{lanCode},#{id},#{code},#{oz},#{price})
	</insert>
	
	<update id="updateProduct" parameterType="product">
		UPDATE product 
		SET price = #{price}
		WHERE lan_code = #{lan_code} AND id = #{id} AND code = #{code} AND oz = #{oz}
	</update>
	
	<delete id="deleteProduct" parameterType="product">
		DELETE
		FROM product
		WHERE lan_code = #{lan_code} AND id = #{id} AND code = #{code} AND oz = #{oz}
	</delete>
	
</mapper>	