<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productRatingMapper">

	<!-- @author 신승엽 -->
	
	<resultMap type="productRating" id="productRatingSelectMap">
		<result column="rat_num" property="ratNum"/>
		<result column="email" property="email"/>
		<result column="lan_code" property="lanCode"/>
		<result column="id" property="id"/>
		<result column="code" property="code"/>
		<result column="oz" property="oz"/>
		<result column="taste" property="taste"/>
		<result column="rat_comment" property="ratComment"/>
		<result column="rat_date" property="ratDate"/>
	</resultMap>

	<sql id="productRatingColum">
		rat_num, email, lan_code, id, code, oz, taste, rat_comment, rat_date
	</sql>
	
	<select id="selectProductRating" resultMap="productRatingSelectMap">
		SELECT <include refid="productRatingColum"/>
		FROM productRating
	</select>
	
	<select id="selectProductRatingById" resultMap="productRatingSelectMap" parameterType="productRating">
		SELECT <include refid="productRatingColum"/>
		FROM productRating WHERE lan_code = #{lanCode} AND id = #{id}
	</select>
	
	<!-- 조인문 -->
 	<select id="selectProductRatingJoinById" resultType="java.util.HashMap" parameterType="productRating">
 		SELECT DISTINCT pr.rat_num as RATNUM, pr.lan_code as LANCODE, pr.email as EMAIL, pr.lan_code as LANCODE, 
 		s.name as NAME, p.product as PRODUCT, pr.code as CODE, pr.oz as OZ, pr.taste as TASTE, pr.rat_comment as RATCOMMENT, pr.rat_date as RATDATE
 		FROM productRating pr JOIN product p ON p.code=pr.code AND p.code=p.code AND p.lan_code = pr.lan_code
 		JOIN STORE s ON pr.id = s.id AND pr.lan_code = s.lan_code WHERE s.id = #{id} AND s.lan_code = #{lanCode}
 	</select>
	
	<select id="selectProductRaingByRatNum" resultType="int" parameterType="String">
		SELECT max(rat_num)
		FROM productRating
		WHERE email = #{email}
	</select>
	
	<insert id="insertProductRating" parameterType="productRating">
		INSERT INTO productRating(
			<include refid="productRatingColum" />
		)
		VALUES(#{ratNum},#{email},#{lanCode},#{id},#{code},#{oz},#{taste},#{ratComment},systimestamp)
	</insert>
	
	<update id="updateProductRating" parameterType="productRating">
		UPDATE productRating
		SET taste = #{taste},
		WHERE rat_num = #{ratNum} AND email = #{email} AND lan_code = #{lanCode} AND id = #{id} AND code = #{code} AND oz = #{oz}
	</update>
	
	<delete id="deleteProductRating" parameterType="productRating">
		DELETE
		FROM productRating
		WHERE rat_num = #{ratNum} AND email = #{email} AND lan_code = #{lanCode}
	</delete>
	
</mapper>	