<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeMapper">

<!-- @author 신승엽 -->
	
	<resultMap type="store" id="storeSelectMap">
		<result column="lan_code" property="lanCode"/>
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="tel" property="tel"/>
		<result column="addr" property="addr"/>
		<result column="lat" property="lat"/>
		<result column="longi" property="longi"/>
		<result column="store_hours" property="storeHours"/>
	</resultMap>
	

	<sql id="storeColum">
		lan_code, id, name, tel, addr, lat, longi, store_hours
	</sql>
	
	<select id="selectStore" resultMap="storeSelectMap" parameterType="int">
		SELECT <include refid="storeColum"/>
		FROM store WHERE lan_code = #{lanCode}
	</select>
	
	<select id="selectStoreAndRating" resultType="java.util.HashMap" parameterType="int">
		SELECT s.lan_code as lanCode, s.id as id, s.name as name, s.tel as tel, s.addr as addr,
			   s.lat as lat, s.longi as longi, s.store_hours as storeHours,
			   AVG(CAST(((sR.interior+sR.rat_access+sR.cost_effect)/3) as DECIMAL(10,6))) as storeRating, 
               AVG(CAST(pR.taste as DECIMAL(10,6))) as productRating
		FROM store s 
		LEFT OUTER JOIN storeRating sR ON s.lan_code = sR.lan_code AND s.id = sR.id
		LEFT OUTER JOIN productRating pR ON s.lan_code = pR.lan_code AND s.id = pR.id
		WHERE s.lan_code = #{lanCode}
		GROUP BY s.lan_code, s.id, s.name, s.tel, s.addr, s.lat, s.longi, s.store_hours
	</select>
	
	<select id="selectStoreById" resultMap="storeSelectMap" parameterType="java.util.HashMap">
		SELECT <include refid="storeColum"/>
		FROM store WHERE id = #{id} and lan_code = #{lanCode}
	</select>
	
	<select id="selectStoreByName" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT s.lan_code as lanCode, s.id as id, s.name as name, s.tel as tel, s.addr as addr,
	 		s.lat as lat, s.longi as longi, s.store_hours as storeHours,
			AVG(CAST(((sR.interior+sR.rat_access+sR.cost_effect)/3) as DECIMAL(10,6))) as storeRating, 
           	AVG(CAST(pR.taste as DECIMAL(10,6))) as productRating
		FROM store s 
		LEFT OUTER JOIN storeRating sR ON s.lan_code = sR.lan_code AND s.id = sR.id
		LEFT OUTER JOIN productRating pR ON s.lan_code = pR.lan_code AND s.id = pR.id
		WHERE s.lan_code = #{lanCode} AND s.name LIKE '%'||#{name}||'%'
		GROUP BY s.lan_code, s.id, s.name, s.tel, s.addr, s.lat, s.longi, s.store_hours
	</select>
	
	<select id="selectStoreByDistance" resultMap="storeSelectMap" parameterType="userGPS">
		SELECT <include refid="storeColum"/>
		FROM store where lat = #{lat} AND longi = #{longi}
	</select>
	
	<select id="selectStoreByDistanceAndRating" resultType="java.util.HashMap" parameterType="userGPS">
		SELECT s.lan_code as lanCode, s.id as id, s.name as name, s.tel as tel, s.addr as addr,
			   s.lat as lat, s.longi as longi, s.store_hours as storeHours,
			   AVG(CAST(((sR.interior+sR.rat_access+sR.cost_effect)/3) as DECIMAL(10,6))) as storeRating, 
               AVG(CAST(pR.taste as DECIMAL(10,6))) as productRating
		FROM store s 
		LEFT OUTER JOIN storeRating sR ON s.lan_code = sR.lan_code AND s.id = sR.id
		LEFT OUTER JOIN productRating pR ON s.lan_code = pR.lan_code AND s.id = pR.id
		WHERE s.lan_code = #{lanCode}
		GROUP BY s.lan_code, s.id, s.name, s.tel, s.addr, s.lat, s.longi, s.store_hours
		ORDER BY ABS((s.lat-#{lat})*(s.longi-#{longi}))
	</select>
	
	<insert id="insertStore" parameterType="store">
		INSERT INTO store(
			<include refid="storeColum" />
		)
		VALUES(#{lanCode},#{id},#{name},#{tel},#{addr},#{lat},#{longi},#{storeHours})
	</insert>
	
	<update id="updateStore" parameterType="java.util.HashMap">
		UPDATE store 
		SET tel = #{tel}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteStore" parameterType="int">
		DELETE
		FROM store
		WHERE id = #{id}
	</delete>
</mapper>	
