<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper">
	<!-- @author 신승엽 -->
	<resultMap type="test" id="testSelectMap">
		<result column="test" property="test"/>
	</resultMap>

	<select id="selectTest" resultMap="testSelectMap">
		SELECT *
		FROM test
	</select>
	
</mapper>	